@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

:root {
  --color-primary-dark: #150725;
  --color-primary-base: #3d0f41;
  --color-primary-light: #7436bb;

  --color-black: #231f20;
  --color-gray: #767676;
  --color-gray-light: #d3c9c1;

  --color-accent-1: #ffab00;
  --color-accent-2: #e91e63;

  --color-overlay-dark: rgba(0, 0, 0, 0.6);
  --color-overlay-light: rgba(255, 255, 255, 0.8);

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
  color: white;
  background-color: var(--color-primary-dark);
}

body>* {
  padding: 1.5rem 5rem;
}

main {
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 120vh;
  position: relative;
}

#navbar {
  position: fixed;
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(1rem);
  box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
  z-index: 99;
  width: -webkit-fill-available;
  transition: all 0.3s ease;
}

.nav-contents {
  width: 100%;
  font-size: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: white;
  position: relative;
  transition: color 200ms ease-in-out;
}

.nav-links a:hover {
  color: var(--color-accent-1);
}

.nav-links a.active-link {
  color: var(--color-accent-1);
}

.logo {
  background: linear-gradient(0deg,
      var(--color-primary-light) 0.5%,
      var(--color-accent-1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.uppercase {
  text-transform: uppercase;
  letter-spacing: 0.5ch;
}

.hero {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.social-links {
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  position: absolute;
  top: 30%;
  left: 10%;
  color: var(--color-accent-2);
}

.social-links::after,
.clients-section::before,
.clients-section::after {
  content: "";
  width: 0.2rem;
  height: 15rem;
  background-color: var(--color-accent-2);
  position: relative;
}

.icon {
  background: linear-gradient(0deg,
      rgb(245, 74, 72) 0.5%,
      rgb(250, 152, 47) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-transform: uppercase;
}

.hero-content h1 {
  font-size: 8rem;
}

.hero-content p {
  font-size: 3rem;
}

.hero-btns {
  display: flex;
  gap: 1rem;
}

.hero-btns button {
  cursor: pointer;
  padding: 1.5rem 4rem;
  border-radius: 5rem;
  font-size: 2rem;
  background-color: transparent;
  border: thin solid var(--color-accent-2);
  color: white;
  font-weight: 900;
}

.hero-btns button:first-child {
  background: linear-gradient(45deg,
      var(--color-accent-1),
      var(--color-accent-2));
}

.services-and-clients {
  background-color: var(--color-primary-dark);
}

.card-section {
  display: flex;
  justify-content: center;
  gap: 2rem;
  transform: translateY(-40%);
}

.card-section .card {
  background: linear-gradient(to top, var(--color-primary-base), var(--color-primary-dark));
  width: 25rem;
  padding: 2rem 4rem;
  border-radius: 2rem;
  transition: all ease-in-out 400ms;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.card-heading {
  font-size: clamp(2rem, 5vw, 2.5rem);
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
  margin: 0;
}

.card-text {
  font-size: clamp(1.2rem, 3vw, 1.5rem);
  line-height: 1.6;
  margin: 0;
}

.card-icon {
  font-size: 4rem;
  background: linear-gradient(0deg,
      var(--color-accent-1) 0.5%,
      var(--color-accent-2) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-section .card:hover {
  transform: translateY(-5%) scale(1.03);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.clients-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  transform: translateY(-10%);
}

.clients-section::before,
.clients-section::after {
  height: 8rem;
}

.clients-heading {
  font-size: 2.5rem;
  letter-spacing: .5ch;
  text-transform: uppercase;
}

.clients-logo {
  display: flex;
  gap: 8rem;
}

.clients-logo img {
  width: 17rem;
}

.about-us-section {
  display: grid;

}

footer {
  background: linear-gradient(var(--color-primary-dark) 10%, var(--color-primary-base) 90%);
  color: var(--color-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  gap: 2rem;
}

.footer-content {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  justify-content: space-between;
  padding: 2rem 5rem 0 5rem;
}

.footer-logo-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 2.5rem;
  color: var(--color-gray-light);
}

.footer-logo-section .logo {
  font-size: 2.5rem;
}

.footer-logo-section .copyright {
  text-align: center;
  padding: 1rem 0;
  font-size: 1.2rem;
  text-align: center;
  color: var(--color-gray-light);
}

.footer-social-links {
  display: flex;
  gap: 2rem;
}

.footer-social-links i {
  font-size: 2.5rem;
}

.footer-links-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-heading {
  font-size: 2.5rem;
  letter-spacing: .2ch;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.footer-links a {
  font-size: 1.5rem;
  text-decoration: none;
  transition: color 200ms ease-in-out;
  color: var(--color-gray);
}

.footer-links a:hover {
  color: var(--color-accent-1);
}

.footer-info-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-info div {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.4rem;
}

.footer-info i {
  font-size: 1.8rem;
}

.copyright,
.copyright span,
.copyright a {
  width: 100%;
  text-align: center;
  background-color: var(--color-primary-base);
  padding: 1rem 0;
  font-size: 1.5rem;
  color: var(--color-gray-light);
}

.newsletter-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.newsletter-heading {
  font-size: 3rem;
  letter-spacing: .25ch;
}

.newsletter-text {
  font-size: 1.7rem;
  text-align: center;
  max-width: 50vw;
}

.newsletter-form {
  display: flex;
  justify-content: space-between;
  padding: .2rem;
  border-radius: 10rem;
  background-color: var(--color-primary-base);
  border: thin solid var(--color-accent-2);
  width: 70%;
  height: 5rem;
}

.newsletter-form input[type='email'] {
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.8rem;
  color: white;
  width: 100%;
  padding: 0 0 0 3rem;
}

.newsletter-form button {
  width: 20rem;
  letter-spacing: .2ch;
  font-size: 1.5rem;
  border-radius: 10rem;
  text-transform: uppercase;
  border: none;
  color: white;
  background: linear-gradient(35deg, var(--color-accent-1), var(--color-accent-2));
}

.expertise-section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 4rem 0;
}

.expertise-top {
  display: flex;
  flex-direction: column;
}

.expertise-experience {
  font-size: 1.5rem;
  letter-spacing: .25ch;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.expertise-experience::before {
  content: "";
  width: 8rem;
  height: 0.2rem;
  background-color: var(--color-accent-2);
  display: inline-block;
}

.expertise-top-info {
  display: flex;
  justify-content: space-between;
}

.expertise-heading {
  font-size: 3.5rem;
}

.expertise-btn-container {
  display: grid;
  place-items: center;
}

.expertise-btn {
  width: 17rem;
  padding: 1.5rem 3rem;
  font-size: 1.5rem;
  border-radius: 10rem;
  border: none;
  color: white;
  background: linear-gradient(35deg, var(--color-accent-1), var(--color-accent-2));
  border: .15rem solid var(--color-accent-2);
  cursor: pointer;
  font-weight: 600;
  letter-spacing: .2ch;
}

.expertise-text {
  width: 70%;
  font-size: 1.2rem;
  line-height: 1.6;
  color: var(--color-gray);
}

.expertise-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expertise-image {
  width: 50rem;
  height: 50rem;
  border-radius: 100%;
  border: .7rem solid var(--color-primary-light);
  background-image: url("../img/experience.png");
  background-position: 0 0;
  transition: all 0.3s ease-in-out;
}

.expertise-image:hover {
  transform: scale(1.05);
}

.expertise-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 0.8;
}

.expertise-card {
  padding: 1.5rem 2rem;
  background-color: white;
  color: black;
  display: grid;
  gap: 3rem;
  border-radius: .8rem;
  grid-template-columns: 20% 80%;
  place-items: center;
  transition: all 0.3s ease-in-out;
}

.expertise-percent {
  display: grid;
  place-items: center;
  color: white;
  border-radius: 100%;
  font-size: 1.8rem;
  font-weight: 800;
  transition: all 0.3s ease;
  background: linear-gradient(11deg, var(--color-primary-light) 0.01%, #b520a3 100%);
  width: 10rem;
  height: 10rem;
}

.expertise-card:hover .expertise-percent {
  background: white;
  color: var(--color-primary-light);
}

.expertise-card:hover .expertise-text-container .expertise-card-heading,
.expertise-card:hover .expertise-text-container .expertise-card-text {
  color: white;
}

.expertise-card:hover {
  transform: scale(1.05);
  color: white;
  background: linear-gradient(11deg, var(--color-primary-light) 0.01%, #b520a3 100%);
}

.expertise-bottom .expertise-text-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.expertise-card-heading {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--color-primary-dark);
}

.expertise-card-text {
  font-size: 1.5rem;
  color: var(--color-gray);
}