<div class="footer-content">
    <div class="footer-logo-section">
        <div class="logo uppercase">VibeCraft</div>
        <p>Empowering brands with creative strategy, data-driven marketing, and digital transformation. At Vibecraft, we
            don’t just market — we craft digital vibes that convert. Your growth is our mission.</p>
        <div class="footer-social-links">
            <i class="fa-brands fa-facebook icon"></i>
            <i class="fa-brands fa-instagram icon"></i>
            <i class="fa-brands fa-twitter icon"></i>
            <i class="fa-brands fa-linkedin icon"></i>
        </div>

    </div>
    <div class="footer-links-section">
        <div class="footer-heading logo">Quick Links</div>
        <div class="footer-links">
            <a href="../index.html">Home</a>
            <a href="">FAQ</a>
            <a href="">About</a>
            <a href="">Contact</a>
            <a href="">Portfolio</a>
            <a href="">Team</a>
            <a href="">Blogs</a>
            <a href="">Privacy Policy</a>
        </div>
    </div>
    <div class="footer-info-section">
        <div class="footer-heading logo">Get Connected</div>
        <div class="footer-info">
            <div> <i class="fa-solid fa-phone icon"></i> +977 9818740286 </div>
            <div> <i class="fa-solid fa-envelope icon"></i> example@email.com </div>
            <div> <i class="fa-solid fa-clock icon"></i> Office Hours: 10AM - 5PM | Sunday - Friday </div>
        </div>
    </div>
</div>
<div class="copyright">&copy; Copyright <span id="date"></span> . All Rights Reserved | Made by <a
        href="https://github.com/Raazkatwal" target="_blank">RaazKatwal</a></div>